*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
   

}

.background-Image{
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 30px;
    border: 2px solid red;
}
.background-Image img{
    max-width: 90%;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height:100%;
    width: 243px;
    padding: 1rem;
    position: fixed;
    top: 0;
    bottom: 0;
  
    border: 2px solid white;
   
    overflow-x: hidden;
    overflow-y: auto;
    gap: 100px;
    background:linear-gradient(45deg,black,  gray, black);
   
}
.logo h2{
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: cursive;
    font-size: xx-large;
    font-weight: bolder;
    padding: 5px;
    margin: 6px;
    color: white;
  
    background:linear-gradient(45deg,black,  gray, black);
}
.logo p{
    text-align: center;
    color: white;
}
.reservation{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    padding: 10px;
   background-color: white;
    width: 98%;
    height: 40px;
    font-weight: lighter;
    font-family: cursive;
    margin-top: 30px;
    cursor: pointer;
}


.ListInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(45deg,black,  gray, black);
    flex-direction: column;
    max-height: 100%;
    color: white;
    width: 90%;

}
.ListInfo ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    
}

.ListInfo ul li{
    list-style: none;
    color: white;
    font-size: larger;
    font-weight: lighter;
    font-family: cursive;
    cursor: pointer;
   
}

.form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height:100%;
    width: 243px;
    padding: 1rem;
    position: fixed;
    top: 0;
    bottom: 0;
    margin-left: 250px;
    border: 2px solid white;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 100px;
    background:linear-gradient(45deg,black,  gray, black);
    display:none ;
    
}
.form input{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    padding: 30px;
    text-align: center;
 
    background-color: white;
    width: 98%;
    height: 40px;
    font-weight: lighter;
    font-family: cursive;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 40px;
   
}
.form p{
    color:whitesmoke;
    font-family: cursive;
    
    font-weight: lighter;
    font-size: medium;
}
.findTable{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    padding: 10px;
    background-color: white;
    width: 98%;
    height: 40px;
    font-weight: lighter;
    font-family: cursive;
    margin-top: 30px;
    cursor: pointer;
    text-align: center; 
}
.cross{
    margin-left: 180px;
    cursor: pointer;
    font-weight: 800;
    font-size:xx-large;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width:90%;
    height: 700px;
    margin-top: 30px;
    display:none ;
    gap: 40px;
    padding: 1rem;
    margin-left: 80px;
    background-color: black;
    border: 1px solid black;
}
.MenuImage{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    height: auto;
 
   
}
.menu ul{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 80px;
  color: white;
  gap: 120px;
  text-align: center;
  

}
.menu ul li{
   text-decoration: none;
   text-align: center;
   background-color: goldenrod;
   font-size: large;
   font-weight: bold;
   font-family: cursive;
   color: black;
   cursor: pointer;
   padding: 20px;
   height:50px ;
 
  
}
.menu li :hover{
  color: goldenrod;
  background-color: black;
}
.menuCross{
    margin-left: 380px;
    cursor: pointer;
    font-weight: 800;
    font-size:xx-large;
    color: white;
}